.myBtn {
    min-width: 100px;
    height: 34px;
    border-radius: 80px;
    font-size: 16px;
    margin-left: 10px;
    padding: 0 19px 0 19px;
    transition: 0.3s;
    background: #F4E041;
    border: none;
    cursor: pointer;

    &:hover {
        background: #FFE302;;
    }

    &:disabled {
        background-color: #B4B4B4;
        color: rgba(255, 255, 255, 0.87) ;
    }
}