.sectionFormWrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2 {
        margin-top: 140px;
        margin-bottom: 20px;
    }
}

.inputWrapp {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.sectionFormSuccessWrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2 {
        margin-top: 140px;
        margin-bottom: 20px;
    }

}

